{% extends "base.html" %}

</head>
{% block content %}
<body>
<style>
</style>
<main>
    <br><br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-4">
                <form action="" method="post">
                    <div class="row g-3"><br>
                        <h1 class="text-center">Log In</h1>
                        {{ form.csrf_token }}
                        <div>{{ form.username(class="form-control form-control-lg", placeholder="Input your name:") }}
                            {% for error in form.username.errors %}
                            <span style="btn btn-warning">{{ error }}</span>
                            {% endfor %}
                        </div>
                        <div>{{ form.phone_number(class="form-control form-control-lg", placeholder="Input your phone number:") }}
                            {% for error in form.phone_number.errors %}
                            <span style="btn btn-warning">{{ error }}</span>
                            {% endfor %}
                        </div><br>
                        <div class="d-grid gap-2 col-6 mx-auto">
                        {{ form.submit(class="btn btn-warning") }}
                        </div>
                    </div>
                </form>
                <br>
                    <h5 class="text-center">New User?</h5>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a class="btn btn-primary" href="{{ url_for('auth.register') }}"> Click to Register!</a>
                </div>
            </div>
        </div>
    </div>

                <br><br>
</main>
</body>
{% endblock %}
{% block footer %}
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="bi bi-telegram" href="#"></a></li>
            <li class="ms-3"><a class="bi bi-instagram" href="#"></a></li>
            <li class="ms-3"><a class="bi bi-facebook" href="#"></a></li>
        </ul>
    </footer>
</div>
{% endblock %}
