{% extends 'base.html' %}

{% block title%}
Pricing
{% endblock %}

<head>
    <title>Pricing</title>
</head>
{% block content %}
<body>
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Pricing</h1><br>
    <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this Bootstrap
        example. It’s built with default Bootstrap components and utilities with little customization.</p><br>
</div>
</header>

<main>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Almost free</h4>
                </div>
                <div class="card-body">
                    <img src="{{ url_for('static', filename='img/sitting-couple.png') }}" class="card-img-top"
                         alt="money">
                    <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light"></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>
                    {% if current_user.is_authenticated %}
                    <p><a type="button" href="{{ url_for('user_blueprint.user', username=current_user.username) }}"
                          class="w-100 btn btn-lg btn-outline-primary">I want it almost free!</a></p>
                    {% else %}
                    <p><a type="button" href="{{ url_for('auth.register') }}"
                          class="w-100 btn btn-lg btn-outline-primary">I
                        want it almost free!</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                </div>
                <div class="card-body">
                    <img src="{{ url_for('static', filename='img/diver-and-mermaid.png') }}" class="card-img-top"
                         alt="money">
                    <h1 class="card-title pricing-card-title">$15<small class="text-muted fw-light"></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>20 users included</li>
                        <li>10 GB of storage</li>
                        <li>Priority email support</li>
                        <li>Help center access</li>
                    </ul>
                    {% if current_user.is_authenticated %}
                    <p><a type="button" class="w-100 btn btn-lg btn-primary"
                          href="{{ url_for('user_blueprint.user', username=current_user.username) }}">I want it almost
                        free!</a></p>
                    {% else %}
                    <p><a type="button" class="w-100 btn btn-lg btn-primary" href="{{ url_for('auth.register') }}">I
                        want it
                        almost free!</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Premium</h4>
                </div>
                <div class="card-body">
                    <img src="{{ url_for('static', filename='img/merman-and-woman.png') }}" class="card-img-top"
                         alt="money">
                    <h1 class="card-title pricing-card-title">$29<small class="text-muted fw-light"></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>30 users included</li>
                        <li>15 GB of storage</li>
                        <li>Phone and email support</li>
                        <li>Help center access</li>
                    </ul>
                    {% if current_user.is_authenticated %}
                    <p><a type="button" class="w-100 btn btn-lg btn-primary"
                          href="{{ url_for('user_blueprint.user', user=current_user.username) }}">Nothing more!</a></p>
                    {% else %}
                    <p><a type="button" class="w-100 btn btn-lg btn-primary" href="{{ url_for('auth.register') }}">Nothing
                        more!</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</main>
</body><br><br>
{% endblock %}
