{% extends "base.html" %}

{% block body %}
<style>

form
{
  vertical-align:middle;
  margin: 0 auto;
  vertical-align:middle;
  max-width: 400px;
  padding: auto;
  text-align: center;
}
h1
{
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}

</style>
<br><br><h1>Редактировать профиль</h1><br><br>
<form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    <div>
        {{ form.username.label }}<br>
        {{ form.username(class="form-control form-control-lg") }}<br>
        {% for error in form.username.errors %}
        <span style="btn btn-warning">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.phone_number.label }}<br>
        {{ form.phone_number(class="form-control form-control-lg") }}<br>
        {% for error in form.phone_number.errors %}
        <span style="btn btn-warning">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.about_me.label }}<br>
        {{ form.about_me(cols=50, rows=4) }}<br>
        {% for error in form.about_me.errors %}
        <span style="btn btn-warning">{{ error }}</span>
        {% endfor %}
    </div><br>

    <div><p>{{ form.submit(class="btn btn-info") }}</p></div>
</form>
{% endblock %}
