{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<style>
        body
{
background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
}
main
{
  vertical-align:middle;
  margin: 0 auto;
  vertical-align:middle;
  max-width: auto;
  padding: auto;
  text-align: center;
}
h1
{
    color : #000000;
    text-align : center;
    font-family: "SIMPSON";
}
form
{
margin: 0 auto;
padding: auto;
text-align: center;
max-width: 400px;
btn: btn-warning
}
</style>
<h1>Edit service</h1>
 <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Date/time</th>
            <th scope="col">Services</th>
            <th scope="col">Change</th>
            <th scope="col">Cancel</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr>
            {% if user == current_user %}
            <th scope="row">{{ service_id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ current_service.service_time }}</td>
            <td>{{ current_service.service }}</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
    <form action="" method="post">
        <h3><label>Here you can choose another date and service</label></h3><br>
        {{ wtf.quick_form(form) }}
        {% for error in wtf.quick_form(form).errors %}
        <span style="btn btn-warning">{{ error }}</span>
        {% endfor %}
    </form>{% endblock %}
{% block footer%}
    <footer class="container">
        <p>&copy; 2017–2022 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
{% endblock %}