{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<body>
<main>
    <br>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-4">
                <tr>
                    <td>
                        {% if user == current_user %}
                        <br>
                        <h1 style="font-weight: 600" class=" display-4 text-center">{{ user.username }}</h1><br>
                        {% endif %}
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                    data-bs-target="#profileModal">Edit Profile
                            </button>
                            <div id="profileModal" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
                                 aria-labelledby="staticBackdropLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="profileModalLabel">Edit profile</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button></div>
                                            <div class="modal-body">
                                                <form class="form form-horizontal" method="post" role="form">
                                                        {{ profile_form.hidden_tag() }}
                                                    <div>
                                                        {{ profile_form.username.label }}<br>
                                                        {{ profile_form.username(class="form-control form-control-lg") }}<br>
                                                        {% for error in profile_form.username.errors %}
                                                        <span style="btn btn-warning">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                                    <div>
                                                        {{ profile_form.phone_number.label }}<br>
                                                        {{ profile_form.phone_number(class="form-control form-control-lg") }}<br>
                                                        {% for error in profile_form.phone_number.errors %}
                                                        <span style="btn btn-warning">{{ error }}</span>
                                                        {% endfor %}
                                                    </div>
                                            </div>
                                        <div class="modal-footer">
                                            <p>{{ profile_form.submit(class="btn btn-info") }}</p>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Cancel
                                            </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </div>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="panel panel-default">
            <table class="table table-warning">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Services</th>
                    <th scope="col">Change</th>
                    <th scope="col">Delete service</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for service in services %}
                <tr>
                    {% if user == current_user %}
                    {% if service.service_date >= date %}
                    <th scope="row">{{ service.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.phone_number }}</td>
                    <td>{{ service.service_date }}</td>
                    <td>{{ service.service_time }}</td>
                    <td>{{ service.service1 }} {{ service.service2 }} {{ service.service3 }}</td>
                    <td>
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                data-bs-target="#editModal{{ service.id }}">Edit Service
                        </button>
                        <div id="editModal{{ service.id }}" class="modal fade" tabindex="-1"
                             data-bs-backdrop="static" data-bs-keyboard="false"
                                 aria-labelledby="staticBackdropLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editModalLabel">Here you can change your actual
                                            date/time of service if new date/time is available.</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container">
                                            <form action="{{ url_for('edit_service', service_id=service.id) }}" class="form form-horizontal"
                                                  method="post" role="form">
                                                <h3><label>Choose date and time of service:</label></h3>
                                                {{ form.hidden_tag() }}
                                                {{ wtf.form_errors(form, hiddens="only") }}
                                                {{ wtf.form_field(form.service1) }}
                                                {{ wtf.form_field(form.service2) }}
                                                {{ wtf.form_field(form.service3) }}
                                                {{ wtf.form_field(form.service_date) }}
                                                {{ wtf.form_field(form.service_time) }}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div>{{ wtf.form_field(form.submit, class="btn btn-info") }}</div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ service.id }}">Delete
                        </button>
                        <div id="deleteModal{{ service.id }}" class="modal fade" tabindex="-1"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Do you really want to delete this
                                            service?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{{ url_for('delete_service', service_id=service.id) }}"
                                              method=post>
                                            <input type=submit class="btn btn-danger" value="Delete"></form>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 col-md-4">
                <form action="{{ url_for('add_service') }}" class="form form-horizontal" method="post" role="form"><br>
                    <h3 class="text-center"><label>Choose date and time of service:</label></h3><br>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                    {{ wtf.form_field(form.service1) }}
                    {{ wtf.form_field(form.service2) }}
                    {{ wtf.form_field(form.service3) }}
                    {{ wtf.form_field(form.service_date) }}
                    {{ wtf.form_field(form.service_time) }}<br>
                    <div class="d-grid gap-2 col-6 mx-auto">{{ wtf.form_field(form.submit, class="btn btn-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
<script>
    $('#modal-confirm').click(function(){
    // Perform the action after modal confirm button is clicked.

    $('#form-submit').click(); // submitting the form
});













</script>
</body>
{% endblock %}